
/* Filter Dropdowns */
.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 2rem;
}

.filters select {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  outline: none;
  transition: border 0.2s ease;
}

.filters select:focus {
  border-color: #10b981;
  box-shadow: 0 0 4px rgba(16, 185, 129, 0.5); 

}